<div *ngIf="crewman$ | async as crewman">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/crew">Crew</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{crewman.fullName}}</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        {{crewman.fullName}}
        <ssit-department-badge [department]="crewman.department" class="float-right"></ssit-department-badge>
      </h5>
    </div>
  </div>

  <div class="mt-3">
    <h2>Work Items</h2>
    <div *ngIf="crewman.hasAssignedTickets">
      <ssit-tickets-grid [tickets]="crewman.assignedTickets" [includeAssignedTo]="false"></ssit-tickets-grid>
    </div>
    <div *ngIf="!crewman.hasAssignedTickets" class="text-warning">
      This crew member does not have any currently assigned work items.
    </div>
  </div>

  <div class="mt-3">
    <h2>Skills</h2>

    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Competency</th>
        <th scope="col">Usage Priority</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let skill of crewman.skills">
        <th scope="row">{{skill.name}}</th>
        <td>{{skill.levelText}}</td>
        <td style="line-height: normal;">
          <ssit-priority-picker [value]="skill.priority" class="float-left" style="height: 36px;" (valueChanged)="onSkillChanged(crewman, skill, $event)"></ssit-priority-picker>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
