<div *ngIf="crewman$ | async as crewman">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/crew">Crew</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{crewman.fullName}}</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        {{crewman.fullName}}
        <ssit-department-badge [department]="crewman.department" class="float-right"></ssit-department-badge>
      </h5>
    </div>
  </div>

  <div class="mt-3">
    <h2>Work Items</h2>
    <div *ngIf="crewman.hasAssignedTickets">
      <ssit-tickets-grid [tickets]="crewman.assignedTickets" [includeAssignedTo]="false"></ssit-tickets-grid>
    </div>
    <div *ngIf="!crewman.hasAssignedTickets" class="text-warning">
      This crew member does not have any currently assigned work items.
    </div>
  </div>

  <div class="mt-3">
    <h2>Priorities</h2>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Triage Work Items</span>
        <ssit-priority-picker [value]="3"></ssit-priority-picker>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>Fix Defects</span>
        <ssit-priority-picker [value]="0"></ssit-priority-picker>
      </li>
    </ul>
  </div>

</div>
