// LCARS -- Fonts

html, body
  font-family "blinker", monospace
  color white

h1
  font-size 200%
  font-weight bold
  font-family "Orbitron", monospace
  text-transform uppercase

h2
  font-size 160%
  font-weight bold
  font-family "Orbitron", monospace
  font-variant: small-caps;

h3
  font-size 140%
  font-weight bold
  font-family "abel", monospace
  font-variant: small-caps;

h4
  font-size 125%
  font-weight bold
  font-family "abel", monospace
  font-variant: small-caps;

h5
  font-size 110%
  font-weight bold
  font-family "abel", monospace
  font-variant: small-caps;

h6
  font-size 100%
  font-weight bold
  font-family "abel", monospace
  font-variant: small-caps;

.small
  font-size 65%

small
  font-size 65%
