<h1>Work Items</h1>
<p>Your department has closed {{closedCount$ | async}} work item(s)</p>
<h2>Open Work Items</h2>

<div class="card mb-2" *ngFor="let wi of tickets$ | async">
  <div class="card-header bg-transparent border-primary">
    <span class="badge badge-secondary">{{wi.statusText}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{wi.id}}: {{wi.title}}</h5>
    <a href="#" class="card-link">Details</a>
  </div>
  <div class="card-footer bg-transparent border-primary">
    <p class="card-text"><small class="text-muted">{{wi.assignmentText}}</small></p>
  </div>
</div>
