<div class="lcars-app-container">

  <!-- Header -->
  <ssit-lcars-header>
    <div style="margin-top: 0.15rem; margin-left: 0.25rem; margin-right: 0.25rem;" class="small">
      {{time$ | async}}
    </div>
  </ssit-lcars-header>

  <!-- Sidebar -->
  <ssit-lcars-sidebar>
    <ssit-root-sidebar></ssit-root-sidebar>

    <div class="lcars-bar lcars-u-1"></div>

  </ssit-lcars-sidebar>

  <!-- Footer -->
  <ssit-lcars-footer></ssit-lcars-footer>

  <!-- Main Content -->
  <div id="container">
    <div class="lcars-column">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
