<div class="container">
  <!-- Navbar goes here -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Starship IT</a>
    <div>
      <span class="mr-3">{{time$ | async}}</span>
      <button class="btn btn-outline-success" (click)="onBeginShiftClick()">Begin Shift</button>
    </div>
  </nav>

  <!-- Page Layout here -->
  <div class="row mt-3" >
    <div class="col-3">
      <nav class="nav flex-column nav-pills nav-fill">
        <a routerLink="home" routerLinkActive="active" class="nav-link">Status</a>
        <a routerLink="crew" routerLinkActive="active" class="nav-link">Crew</a>
        <a routerLink="tickets" routerLinkActive="active" class="nav-link">Work Items</a>
        <a routerLink="policies" routerLinkActive="active" class="nav-link">Policies</a>
        <a routerLink="systems" routerLinkActive="active" class="nav-link">Systems</a>
      </nav>
    </div>

    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
