<div *ngIf="ticket$ | async as ticket">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/crew">Work Items</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ticket.id}}</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body" >
      <h5 class="card-title">
        {{ticket.id}}: {{ticket.title}}
        <ssit-ticket-status-badge class="float-right ml-2" [status]="ticket.status"></ssit-ticket-status-badge>
        <ssit-department-badge [department]="ticket.department" class="float-right"></ssit-department-badge>
      </h5>
    </div>
    <div class="card-footer bg-transparent border-primary">
      <p class="card-text">
        <ssit-crew-link [crew]="ticket.assignedCrew"></ssit-crew-link>
      </p>
    </div>
  </div>
</div>
