//@import 'stylus/bootstrap_cyborg.min.css';
//@import 'stylus/bootstrap_slate.min.css';
//@import 'stylus/bootstrap_solar.min.css';
//@import 'stylus/bootstrap_darkly.min.css';
//@import 'stylus/bootstrap_superhero.min.css';
@import 'stylus/bootstrap_engage.min.css';
//@import 'stylus/bootstrap_makeitso.min.css';
//@import 'stylus/bootstrap_trek.min.css';

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
  font-variant: small-caps;
  font-family: "Roboto Mono", "Roboto", monospace;
  text-decoration-line: none;
}

.small-caps {
  font-variant: small-caps;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root .list-group .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root .list-group .list-group .list-group-item {
  padding-left: 45px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,158,99,1);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color:#FF9C00;
  -webkit-box-shadow: inset 0 0 6px rgba(177,149,122,1);
}
