//@import 'stylus/bootstrap_cyborg.min.css';
//@import 'stylus/bootstrap_slate.min.css';
//@import 'stylus/bootstrap_solar.min.css';
//@import 'stylus/bootstrap_darkly.min.css';
@import 'stylus/bootstrap_superhero.min.css';

body
  font-family: 'Roboto';

nav, .btn, h1, h2, h3, h4, h5, a
  font-variant small-caps
  font-family: 'Roboto Mono', monospace;
