<div class="lcars-column">
  <ssit-lcars-nav-button title="Dashboard" route="/home"></ssit-lcars-nav-button>

  <ssit-lcars-nav-button title="Work Items" route="/tickets"></ssit-lcars-nav-button>

  <ssit-lcars-nav-button title="Team" route="/team"></ssit-lcars-nav-button>
  <ssit-lcars-nav-button title="Schedule" route="/team/schedule"></ssit-lcars-nav-button>
  <ssit-lcars-nav-button title="Policies" route="/team/policies"></ssit-lcars-nav-button>

  <ssit-lcars-nav-button title="Systems" route="/systems"></ssit-lcars-nav-button>
</div>
